<h1>Contact</h1>
<hr>
<p><strong>First Name:</strong> <%= @contact.first_name %></p>
<p><strong>Last Name:</strong> <%= @contact.last_name %></p>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Phone Number:</strong> <%= @contact.phone_number %></p>

<p><%= link_to "Destroy Product", "/contacts/#{@contact.id}", method: :delete %></p>